.main_top_head_verifi_popup {
  width: 100%;
  backdrop-filter: blur(10px);
  height: 120vh;
}
.main_verifi_popup_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  padding: 20px;
  max-width: 500px;
  font-family: var(--inter-font);
}

.verifi_popup_header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.root_backButton {
  background: none;
  border: none;
  color: var(--third-yellow-color);
  font-size: 24px;
  cursor: pointer;
  margin-right: auto;
}

.verifi_popup_logo {
  height: 70px;
}

.root_container {
  background-color: var(--black-color);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 90%;

  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  height: 73%;
}

.Verifi_popup_title {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--third-yellow-color);
}

.root_crockImage {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.Verifi_popup_uppper_side_text {
  font-size: 14px;
  font-family: var(--inter-font);
  margin-bottom: 5px;
}
.Verifi_popup_uppper_root_thanks {
  font-size: 11px;
  font-family: var(--inter-font);
  color: var(--light-gray-color);
  margin-bottom: 30px;
}

.Verifi_popup_bottom_info {
  font-size: 14px;
  font-family: var(--inter-font);
  text-align: left;
}
.Verifi_popup_bottom_info div {
  margin: 6px 0;
  font-size: 12px;
}
.Verifi_popup_bottom_info div strong {
  color: var(--third-yellow-color);
  font-size: 13px;
}

.root_thanks_message_verifi_popup {
  font-size: 16px;
  margin: 20px 0;
  font-family: var(--inter-font);
}

.root_exploreButton {
  background-color: var(--third-yellow-color);
  border: none;
  color: var(--black-color);
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: var(--inter-font);
  font-weight: bolder;
}

.root_exploreButton:hover {
  background-color: var(--black-color);
  color: var(--third-yellow-color);
}
