.forgot-password-container {
    background: #e4e4e4;
    padding: 3% 0%;
  }
  
  #pageloader {
    display: none;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background-color: #ffffffad;
    padding: 45% 51% 45% 42%;
    height: 100%;
  }
  
  #pageloader img {
    width: 100%;
  }
  
  .form-signin {
    width: 40%;
    margin: auto;
  }
  
  .form-signin-heading {
    color: #000;
  }
  