body {
  --background-for-home-yellow: var(--third-yellow-color);
}

.Header_for_home_page {
  background: var(--background-for-home-yellow);
  padding: 20px 10%;
}

.Home_page_logo_icon_animated {
  width: 100px;
}
/* Add this to your CSS file */

@keyframes flashanimation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.flashing_home_page {
  animation: flashanimation 5s ease-in-out infinite;
  animation-delay: 1s; 
}

/* 1 */
.brand_and_influencers_main_parent_div {
  padding: 50px 10px;
}

.Discover_Your_Next_Brand_Ambassador {
  font-family: var(--lilita-font);
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 3px;
}

.connect_with_influencers {
  font-family: var(--linden-font);
  font-size: 34px;
}


.home_Find_Influencers_section_options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: var(--background-for-home-yellow);
  cursor: pointer;
  font-weight: 500;
  font-family: var(--lilita-font);
  color: var(--white-color);
  font-size: 34px;
  letter-spacing: 2px;
  word-spacing: 1px;
  transition: all 0.5s ease-in-out;
}
.header_filters_sech{
  /* background: var(--black-color); */
  /* color: var(--background-for-home-yellow); */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.header_filters_sech:hover{
  /* background: var(--black-color); */
  border: 1px solid var(--black-color) !important;
  scale: 1.01;
}

.home_Find_Influencers_section_options:hover {
  background: var(--black-color);
  color: var(--background-for-home-yellow);
}

.where_brands_and_influencers_div {
  font-family: var(--lilita-font);
  font-weight: 500;
  font-size: 64px;
  color: var(--background-for-home-yellow);
  word-spacing: 2px;
}

@media (max-width: 1026px) {
  .Home_page_logo_icon_animated {
    width: 95px;
  }

  /* 1 */
  .brand_and_influencers_main_parent_div {
    padding: 40px 3%;
  }

  .Discover_Your_Next_Brand_Ambassador {
    font-size: 50px;
    letter-spacing: 0px;
  }

  .connect_with_influencers {
    font-size: 30px;
  }

  .home_Find_Influencers_section_options {
    padding: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .where_brands_and_influencers_div {
    font-weight: 500;
    font-size: 50px;
    padding: 0px 20px;
    word-spacing: 2px;
  }
}

@media (max-width: 900px) {

  /* 1 */
  .brand_and_influencers_main_parent_div {
    padding: 40px 3%;
  }

  .Discover_Your_Next_Brand_Ambassador {
    font-size: 37px;
  }

  .connect_with_influencers {
    font-size: 24px;
  }

  .home_Find_Influencers_section_options {
    padding: 10px;
    font-size: 24px;
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  .where_brands_and_influencers_div {
    font-weight: 500;
    font-size: 40px;
    padding: 0px 20px;
    word-spacing: 2px;
  }
}
@media (max-width: 500px) {
  .Home_page_logo_icon_animated {
    width: 90px;
  }

  /* 1 */
  .brand_and_influencers_main_parent_div {
    padding: 18px 2%;
  }

  .Discover_Your_Next_Brand_Ambassador {
    font-size: 28px;
    text-align: center;
  }

  .connect_with_influencers {
    font-size: 24px;
    text-align: center;

  }

  .home_Find_Influencers_section_options {
    padding: 8px;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .where_brands_and_influencers_div {
    font-weight: 500;
    font-size: 28px;
    padding: 0px 20px;
    padding-bottom: 7px;
    word-spacing: 2px;
    text-align: center;
  }
}