.statusBottom {
    padding-left: 5px;
  }
  
  .statusbox {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  
  .Ellipse9box, .Ellipse9box1 {
    border-radius: 9999px;
    display: inline-block;
    position: relative;
  }
  
  .Ellipse9box {
    border: 7px solid #d9d9d9;
  }
  
  .Ellipse9box1 {
    border: 7px solid #1DD03A;
  }
  
  .Vline, .Vline1 {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 4px;
    height: 40px;
  }
  
  .Vline {
    background: #d9d9d9;
  }
  
  .Vline1 {
    background: #1DD03A;
  }
  
  .Ellipse999 {
    width: 46px;
    height: 46px;
    background: #1d1c1c;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Ellipse9icon {
    width: 32.234px;
    height: 32.234px;
  }
  
  .Line32 {
    width: 52px;
    height: 4px;
    border: 4px #d9d9d9 solid;
    margin: 0 19px;
  }
  
  .Ellipse9txt {
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .Ellipse9time {
    color: #b2b2b2;
    font-size: 12px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .project-btn2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .project-back-arrow {
    width: 24px;
    height: 24px;
  }
  
  .project-txt {
    margin-left: 10px;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
  }
  