/* Industries.css */

.industries-container {
  background-color: var(--third-yellow-color);
  text-align: center;
  padding: 20px 50px;
  margin-top: 117px;
  min-height: 84vh;
}

/* Flex container for industry boxes */
.industries-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
  font-family: var(--lilita-font);
}

.industry-box {
  background-color: white;
  color: black;
  padding: 20px;
  font-weight: bold;
  flex: 1 1 calc(33.333% - 30px);
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.industry-box:hover {
  transform: scale(1.05);
}

.industries-footer {
  text-align: start;
  width: 29%;
}

.Industries_text {
  font-size: 80px;
  font-weight: bold;
  font-family: var(--lilita-font);
  margin-bottom: -20px;
}

.we_serve_text {
  font-size: 38px;
  font-weight: 300;
  text-align: end;
  font-family: var(--kumbh-font);
}

/* Responsive styles */
@media (max-width: 1200px) {
  .industries-footer {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .industries-grid {
    gap: 20px;
  }

  .industry-box {
    flex: 1 1 calc(50% - 20px);
  }

  .industries-footer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .industries-container {
    padding: 20px 30px;
  }

  .industry-box {
    flex: 1 1 calc(50% - 15px);
    font-size: 16px;
  }

  .industries-footer {
    width: 60%;
  }

  .Industries_text {
    font-size: 60px;
  }

  .we_serve_text {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .industry-box {
    flex: 1 1 100%;
    font-size: 14px;
  }

  .industries-footer {
    width: 100%;
  }

  .Industries_text {
    font-size: 40px;
  }

  .we_serve_text {
    font-size: 24px;
    text-align: center;
    margin-top: 4px;
  }
  
}
