.main_professional_parent_div{
    background: var(--black-color);
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: var(--josefin-font);

}
.main_professional_top_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white-color);
}
.main_professional_top_div_title{
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    
}
.main_professional_top_div_description{
    font-size: 22px;
    color: var(--white-color);
    font-weight: 400;
  
    text-align: center;
}

.main_professional_bottom_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white-color);
    width: 100%;
}

.main_professional_bottom_div_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white-color);
    width: 20% ;
}
.main_professional_bottom_div_cart_number{
    font-size: 90px;
    color: var(--dark-yellow-color);
    margin-bottom: 10px;
    /* font-family: var(--koina-italic-font); */
}
.main_professional_bottom_div_cart_title{
    font-size: 20px;
    color: var(--white-color);
    font-weight: 300;

    text-align: center;
}



@media (max-width:780px) {
    .main_professional_parent_div{
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .main_professional_top_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .main_professional_top_div_title{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        
    }
    .main_professional_top_div_description{
        font-size: 20px;
        font-weight: 400;
      
        text-align: center;
    }
    
    .main_professional_bottom_div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    
    .main_professional_bottom_div_cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 23% ;
    }
    .main_professional_bottom_div_cart_number{
        font-size: 70px;
        margin-bottom: 10px;
    }
    .main_professional_bottom_div_cart_title{
        font-size: 16px;
        color: var(--white-color);
        font-weight: 300;
    
        text-align: center;
    }   
}

@media (max-width:500px) {
    .main_professional_parent_div{
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .main_professional_top_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .main_professional_top_div_title{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
        
    }
    .main_professional_top_div_description{
        font-size: 20px;
        font-weight: 300;
      
        text-align: center;
    }
    
    .main_professional_bottom_div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    
    .main_professional_bottom_div_cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 37% ;
    }
    .main_professional_bottom_div_cart_number{
        font-size: 50px;
        margin-bottom: 0px;
    }
    .main_professional_bottom_div_cart_title{
        font-size: 14px;
        color: var(--white-color);
        font-weight: 300;
    
        text-align: center;
    }   
}