body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'kiona-2';
  src: url('./assets/font/Kiona-Itallic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* root */

:root {
  /* fonts */
  --inter-font: "Inter", sans-serif;
  --lilita-font: "Lilita One", sans-serif;
  --linden-font: "Linden Hill", serif;
  --kumbh-font: "Kumbh Sans", sans-serif;
  --josefin-font: "Josefin Sans", sans-serif;
  --koina-italic-font: 'kiona-2';
  /* colors */
  --light-blue-color: rgba(245, 245, 245, 255);
  --dark-yellow-color: rgba(255, 203, 0, 255);
  --light-yellow-color: rgba(255, 251, 235, 255);
  --third-yellow-color: #FBDD03;
  --dark-gray-color: rgba(29, 28, 28, 255);
  --light-gray-color: #a8a7a7;
  --green-color: #1dd03a;
  --blue-color: #1a50dc;
  --white-color : white;
  --black-color: black;
  /* --secondary-yellow-color:rgba(255,203,0,255); */
}

.bold_text {
  font-weight: bold;
}
.little_bold_text {
  font-weight: 600;
}
.main_all_page_default_padding {
  padding: 0px 20px;
}
.css_for_link_tag {
  text-decoration: none;
}

.secondayHeader_parent_div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 16vh;
}

.filter_chebox_parent_div {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
